
#layout {
  color: #3b2508;
  background: rgb(89,64,55);
  background: radial-gradient(circle, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
}

.container {
  position: relative;
}

#book {
  position: relative;
  width: 1225px;
  height: 750px;
  margin: 0 auto;
  margin-top: 120px;
  background-image: url('book.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 10;
  transform-style: preserve-3d;
}

#nav-tab {
  color: #aaa;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -80px;
  z-index: 1;
  width: 590px;
  transform: translateZ(-10px);
}

.tab {
  height: 150px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transition: 0.2s ease-in-out;
  cursor: pointer;

}

#nav-characters-tab {
  background-image: url('chars_tab.png');
  left: 0;
  top: 30px;
}
#nav-characters-tab:hover {
  top: 14px;
}

#nav-map-tab {
  background-image: url('map_tab.png');
  left: 98px;
  top: 30px;
}
#nav-map-tab:hover {
  top: 14px;
}

#nav-skills-tab {
  background-image: url('skills_tab.png');
  left: 210px;
  top: 30px;
}
#nav-skills-tab:hover {
  top: 14px;
}

#nav-activities-tab {
  background-image: url('activities_tab.png');
  left: 325px;
  top: 30px;
}
#nav-activities-tab:hover {
  top: 14px;
}

.book-content {
  position: relative;
  width: 100%;
}

#left-page {
  position: absolute;
  left: 80px;
  top: 40px;
  width: 420px;
  padding: 20px;
}

#right-page {
  position: absolute;
  top: 40px;
  right: 150px;
  width: 450px;
  padding: 20px;
}

h1, h2 {
  font-family: 'Gaegu', sans-serif;
  font-weight: 700 !important;
}

#home-content {
  padding-top: 150px;
}
#home-content h1 {
  font-size: 3em;
  text-align: center;
}
#home-content h2 {
  text-align: center;
  margin-bottom: 0;
}
#home-content h3, #home-content h4, #home-content h5 {
  font-family: 'Patrick Hand SC', sans-serif;
  text-align: center;
}
